[Unit]
Description=Unseals vault for use

Requires=vault-init.service
After=vault-init.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/vault-access.env

Type=oneshot
ExecStart=/opt/vault/unseal.sh

[Install]
WantedBy=multi-user.target
