[Unit]
Description=Initializes vault for use

Requires=vault.service
After=vault.service

[Service]
Environment=VAULT_ADDR=http://127.0.0.1:8200

Type=oneshot
ExecStartPre=/opt/vault/online.sh 60
ExecStart=/opt/vault/init.sh

[Install]
WantedBy=multi-user.target
