[Unit]
Description=Initializes vault for use

Requires=vault.service
After=vault.service

[Service]
EnvironmentFile=/etc/environment

Type=oneshot
ExecStartPre=/opt/vault/online.sh 60
ExecStart=/opt/vault/init.sh

[Install]
WantedBy=multi-user.target
