[Unit]
Description=Unseals vault for use

Requires=vault-init.service
After=vault-init.service

[Service]
Environment=VAULT_ADDR=http://127.0.0.1:8200

Type=oneshot
ExecStart=/opt/vault/unseal.sh

[Install]
WantedBy=multi-user.target
